@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* button { display: block; margin-bottom: 10px; } */
body{
    background-color: hsl(0, 0%, 80%);
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: hsl(0, 0%, 100%);
    padding: 20px 0;
    margin-bottom: 15px;
}
nav a{
    margin-right: 10px;
    text-decoration: none;
    color: hsl(230, 100%, 60%);
}
.container{
    max-width: 860px;
    margin: auto;
    padding: 5px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.green-p{
    color: green;
    font-size: 21px;
}
.blue-p{
    color: hsl(230, 100%, 60%);
    font-size: 21px;
}